# Sample gitconfig
#

[hub]
        protocol = https
[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
[credential]
        helper = GIT_CREDENTIAL_HELPER
[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[init]
        defaultBranch = main
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[fetch]
        prune = true
        pruneTags = true
        all = true
[commit]
        verbose = true
[rerere]
        enabled = true
        autoupdate = true
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true
[merge]
        # (just 'diff3' if git version < 2.3)
        conflictstyle = zdiff3
[pull]
        rebase = true
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore
        editor = nvim
[difftool]
        prompt = false
[help]
        autocorrect = prompt
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to suppress warning message
        default = simple
        autoSetupRemote = true
        followTags = true
